
@{
    ViewData["Title"] = "AboutUS";
    Layout = "~/Views/Shared/vsk_master.cshtml";
}

<div class="container">

    <div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="page-title">History</h2>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 hidden-xs back-home">
                <a href='@Url.Action("Index","Home")'>&larr; Go back Home</a>
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div> <!-- /.page-header -->

    <div class="custom-white">

        <div class="row">
            <div class="col-md-12">
                <div class="event-single">
                    <div class="event-content">
                        <h4 class="widget-title"><span>History</span></h4>
                        <p>Vivekananda Shiksha Kendra started her journey on 23 rd June, 1982.It is a leading
                            private School in the state of Odisha, recognized by Government of Odisha. It
                            imparts quality teaching from Nursery to Class 10 as per Board of Secondary
                            prescribed syllabus. In her long journey of almost four decades, it has shaped
                            future of thousands of students who are now established in their professions both
                            in India and abroad. The success of the School is the outcome of Knowledge,
                            lifelong dedication and commitment of its teachers. The School is ever grateful to
                            Shri Rabi Narayan Jena,the man of great vision Who laid the foundation and
                            guided the transformation of the School since its inception.
                        </p>
                        <div class="space-s"></div>
                        
                    </div> <!-- /.event-content -->
                </div> <!-- /.event-single -->
            </div>

        </div> <!-- /.row -->

    </div>

</div>

