
@{
    ViewData["Title"] = "Mission Vision";
    Layout = "~/Views/Shared/vsk_master.cshtml";
}

<div class="container">

    <div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="page-title">Mission & Vision</h2>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 hidden-xs back-home">
                <a href='@Url.Action("Index","Home")'>&larr; Go back Home</a>
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div> <!-- /.page-header -->

    <div class="custom-white">

        <div class="row">

           <div class="col-md-12">
                <div class="event-single">
                    <div class="event-content">
                        <h4 class="widget-title"><span>Mission & Vision</span></h4>
                        <p><b>Mission</b> To shape and sharpen minds of students to enable the face the world with
                            confidence.
                        </p>
                        <div class="space-s"></div>
                        <p>
                            <b>Vision</b> To guide students in a way that they can bring glory for the nation in all
                            aspects of life.
                        </p>
                    </div> <!-- /.event-content -->
                </div> <!-- /.event-single -->
            </div>

        </div> <!-- /.row -->

    </div>

</div>
