
@{
    ViewData["Title"] = "Activities";
    Layout = "~/Views/Shared/vsk_master.cshtml";
}

<div class="container">

    <div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="page-title">Activities</h2>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 hidden-xs back-home">
                <a href='@Url.Action("Index","Home")'>&larr; Go back Home</a>
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div> <!-- /.page-header -->

    <div class="custom-white">

       <div class="row">
				
            <div class="col-md-12">
                <div class="event-single">
                    <div class="event-content">
                        <h4 class="widget-title"><span>Scouts and Guides</span></h4>
                        <p>Scouts and Guides has been introduced in the school. Students from class-vi are enrolled in four units. They appear Tritiya Sopan Test in the District Level , Rajya Purusha Test in the state level and Rastrapati puraskar in National Level . They also participate in the state level Independence day and Republic day parade. Scouts and guides also join district camps, State Rally and National Jamboree.</p>
                        <div class="space-s"></div>
                        <h4 class="widget-title"><span>NCC</span></h4>
                        <p>Army wings of NCC has been introduced in the school . Both boys and girls of class – viii are enrolled in this live. They attend different camps at district, state and national level. They are eligible for certificate – “A” Examination.</p>
                        <div class="space-s"></div>
                        <h4 class="widget-title"><span>Games and Sports</span></h4>
                        <p>This unit is run by an experienced P.E.T. These students participate in District Level and State Level different events. Every year annual athlete meet is held. The students play outdoor and indoor games. Prizes are distributed on different events to ensile and encourage the student . Students join in district / state level kabaddi, football and cricket tournament.</p>
                        <p><strong>St. John Ambulance & Junior Red cross: There is proposal fan introduce St.J.A & JRC in the school</strong></p>
                    </div> <!-- /.event-content -->
                </div> <!-- /.event-single -->
            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->

    </div>

</div>

