
@{
    ViewData["Title"] = "Courses";
    Layout = "~/Views/Shared/vsk_master.cshtml";
}

<div class="container">

    <div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="page-title">Courses</h2>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 hidden-xs back-home">
                <a href='@Url.Action("Index","Home")'>&larr; Go back Home</a>
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div> <!-- /.page-header -->

    <div class="custom-white">

       <div class="row">
					
            <div class="col-md-12">
                <div class="event-single">
                    <div class="event-content">
                        <h4 class="widget-title"><span>Courses</span></h4>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Study Material</th>
                                        <th>Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Study Material for Class 1</td>
                                        <td><a href="#"><i class="fa fa-file-pdf-o"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Study Material for Class 2</td>
                                        <td><a href="#"><i class="fa fa-file-pdf-o"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Study Material for Class 3</td>
                                        <td><a href="#"><i class="fa fa-file-pdf-o"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Study Material for Class 4</td>
                                        <td><a href="#"><i class="fa fa-file-pdf-o"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Study Material for Class 5</td>
                                        <td><a href="#"><i class="fa fa-file-pdf-o"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Study Material for Class 6</td>
                                        <td><a href="#"><i class="fa fa-file-pdf-o"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Study Material for Class 7</td>
                                        <td><a href="#"><i class="fa fa-file-pdf-o"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- /.event-content -->
                </div> <!-- /.event-single -->
            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->

    </div>

</div>

