
@{
    ViewData["Title"] = "Message";
    Layout = "~/Views/Shared/vsk_master.cshtml";
}

<div class="container">

    <div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="page-title">Message</h2>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 hidden-xs back-home">
                <a href='@Url.Action("Index","Home")'>&larr; Go back Home</a>
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div> <!-- /.page-header -->

    <div class="custom-white">

        <div class="row">
					
            <div class="col-md-12">
                <div class="event-single">
                    <div class="event-content">
                        <img src="~/images/placehold/about/msg01.jpg" class="img-thumbnail img-float-msg">
                        <h4 class="widget-title"><span>Swami Vivekanand</span></h4>
                        <p>Where can we go to find God if we cannot see him in our own hearts and in every living being.</p>
                        <div class="space-s"></div>
                        <img src="~/images/placehold/about/msg02.jpg" class="img-thumbnail img-float-msg">
                        <h4 class="widget-title"><span>Pradhan Acharya</span></h4>
                        <p>It gives me an immense pleasure to express my gratitude to all who love our esteemed institution. Our institution has been established in the year 1982 on the auspicious date of Ratha Yatra to impart quality education. Emphasis is being given on spiritual, mental and physical education to enable students to become good citizens of India. We worship education, spread sense of fraternity, show patriotism and deeply trust in character building. The school has been recognized by state Govt. and affiliated to Board Of Secondary Education Odisha . The students are appearing the Annual H.S.C Examination directly from the year 1993. Our students have also bagged to ten ranks in the H.S.C. examination during the year 2005, 2007, 2008, 2009. Apart from this the students are of class – iii, v primary and class – vii NR 15 scholarships. Our experienced staff are trying their level best to bring name and fame to school.</p>
                        <p>Hope your kind cooperation, affection and encouragement will help us to go ahead to bring about substantial chance in the field of education.</p>
                        <p>Thanking You.</p>
                    </div> <!-- /.event-content -->
                </div> <!-- /.event-single -->
            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->

    </div>

</div>

