<nav class="menu-bar">
    <ul id="ation-menu">
        <li>
            <a  href='@Url.Action("Index", "ManageAlumini")'>
                <span class="iocn"><i class="icofont-ui-user"></i></span>
                <span class="name">Profile</span>
            </a>
        </li>
        <li>
            <a  href='@Url.Action("ViewNotice", "ManageAlumini")'>
                <span class="iocn"><i class="icofont-newspaper"></i></span>
                <span class="name">Notice</span>
            </a>
        </li>
    </ul>
</nav>